docs/n8n/vsa-planning.json
{
  "name": "VSA Planning",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "value": "list_projects", "outputKey": "list_projects" },
            { "value": "get_project", "outputKey": "get_project" },
            { "value": "create_project", "outputKey": "create_project" },
            { "value": "analyze", "outputKey": "analyze" },
            { "value": "sync_linear", "outputKey": "sync_linear" }
          ]
        },
        "dataPropertyName": "action",
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [460, 400],
      "notesInFlow": true,
      "notes": "formData.action: list_projects | get_project | create_project | analyze | sync_linear"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.VSA_API_URL || 'http://localhost:8000') + '/api/v1/planning/projects?limit=' + (($json.payload && $json.payload.limit) || 50) + '&offset=' + (($json.payload && $json.payload.offset) || 0) + ($json.payload && $json.payload.status ? '&status=' + $json.payload.status : '') + ($json.payload && $json.payload.empresa ? '&empresa=' + encodeURIComponent($json.payload.empresa) : '') }}",
        "options": {}
      },
      "id": "http-list",
      "name": "GET List Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.VSA_API_URL || 'http://localhost:8000') + '/api/v1/planning/projects/' + ($json.payload?.project_id || $json.payload?.id || '') }}",
        "options": {}
      },
      "id": "http-get-project",
      "name": "GET Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VSA_API_URL || 'http://localhost:8000' }}/api/v1/planning/projects",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload || {}) }}",
        "options": {}
      },
      "id": "http-create",
      "name": "POST Create Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.VSA_API_URL || 'http://localhost:8000') + '/api/v1/planning/projects/' + ($json.payload?.project_id || $json.payload?.id || '') + '/analyze' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "id": "http-analyze",
      "name": "POST Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.VSA_API_URL || 'http://localhost:8000') + '/api/v1/planning/projects/' + ($json.payload?.project_id || $json.payload?.id || '') + '/sync-linear' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload || {}) }}",
        "options": {}
      },
      "id": "http-sync",
      "name": "POST Sync Linear",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 680]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Switch Action", "type": "main", "index": 0 }]] },
    "Switch Action": {
      "main": [
        [{ "node": "GET List Projects", "type": "main", "index": 0 }],
        [{ "node": "GET Project", "type": "main", "index": 0 }],
        [{ "node": "POST Create Project", "type": "main", "index": 0 }],
        [{ "node": "POST Analyze", "type": "main", "index": 0 }],
        [{ "node": "POST Sync Linear", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [{ "name": "VSA" }]
}
